<header
  class="flex justify-between items-center bg-blue-400 text-white px-4 h-16"
>
  <h1 class="!m-0">Movie Collection App</h1>
  <div class="flex gap-2">
    Links:
    <a class="underline" routerLink="/">Home</a>
  </div>
  <div class="flex gap-2 items-center">
    <ng-container
      *ngIf="user === null; then userMissing; else userExists"
    ></ng-container>
  </div>
</header>
<ng-template #userMissing>
  <a routerLink="/auth/login">Login</a>
  <span>/</span>
  <a routerLink="/auth/register">Register</a>
</ng-template>
<ng-template #userExists>
  <span>Hello, {{ user?.username }}</span>
  <span>/</span>
  <a (click)="logout.emit()">Logout</a>
</ng-template>
